.menu {
    background-color: #000;
    overflow: hidden;
}

/* Style the links inside the navigation bar */
.menu a {
    padding: 45px 10px;
    float: right;
    color: #fff;
    text-align: center;
    display: grid;
    grid-template-columns: auto 40px;
    text-decoration: none;
    font-size: 18px;
}

/* Change the color of links on hover */
.menu a:hover {
    color: grey;
}


#logo-place{
    float: left;
    padding-left: 10px;
    padding-top: 7px;
    height: 100px;
    width: 100px;
    background-position: center;

}

#logo{
    border: solid;
    border-color: #fff;
    border-width: 2px;
    border-radius: 50px;
}


body{
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #000;
    
}

.slider-area slider{
    height: 600px;
}

.slideshow{
    width: 800px;
    height: 800px;
}

.middle{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.navigation{
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translate(-50%);
}

.bar{
    width: 50px;
    height: 10px;
    border: 2px solid #fff;
    margin: 6px;
    cursor: pointer;
    transition: 0.4s;
}

.bar:hover{
    background: #fff;
}

.carousel{
    width: 800px;
    height: 800px;
}

/* Slick Carousel */

  * {
    box-sizing: border-box;
  }

  .slider {
      width: 50%;
      margin: 50px auto;
  }

  .slick-slide {
    margin: 0px 20px;
  }

  .slick-slide img {
    width: 100%;
  }

  .slick-prev:before,
  .slick-next:before {
    color: black;
  }


  .slick-slide {
    transition: all ease-in-out .5s;
    opacity: .2;
  }
  
  .slick-active {
    opacity: .5;
  }

  .slick-current {
    opacity: 1;
  }

  /* Gallery (projekty) */
  .row {
    display: flex;
    flex-wrap: wrap;
    padding: 0 4px;
  }
  
  /* Create four equal columns that sits next to each other */
  .column {
    flex: 25%;
    max-width: 25%;
    padding: 0 4px;
  }
  
  .column img {
    margin-top: 8px;
    vertical-align: middle;
    width: 100%;
  }
  
  /* Responsive layout - makes a two column-layout instead of four columns */
  @media screen and (max-width: 800px) {
    .column {
      flex: 50%;
      max-width: 50%;
    }
  }
  
  /* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
  @media screen and (max-width: 600px) {
    .column {
      flex: 100%;
      max-width: 100%;
    }
  }

ul{
    margin-top: 80px;
    padding-left: 120px;
    font-size: 1.2em;
    color: #fff;
    float: left;
}

h1, h2, h3{
    padding-left: 100px;
    padding-bottom: 5px;
    font-size: 2em;
    color: #fff;
    margin-top: 80px;
}

#zdj_oferta{
    height: 280px;
    padding-left: 120px;
    width: auto;

}

hr{
    border-top: #cccccc;
}

div.studio{
    margin: 0 0cm;
}
div.oferta{
    margin: 0 0cm;
}
div.projekty{
    margin: 0 0cm;
}
div.kontakt{
    margin: 0 0cm;
}

p{
    padding: 10px 100px;
    margin-block-end: 0;
    margin-block-start: 0;
    font-size: 1.25em;
    color: #fff;
    text-align: left;
}

/*when displayed on a bigger screeens*/
@media only screen and (min-width: 1000px) {
    div.studio{
        margin: 0 10cm;
    }
    div.oferta{
        margin: 0 10cm;
    }
    div.projekty{
        margin: 0 10cm;
    }
    div.kontakt{
        margin: 0 10cm;
    }

    #logo-place{
      padding-left: 300px;
    }

   .menu {
      padding-right: 300px; 
    }

}